/* reset elements */
* { box-sizing : border-box}
* { -moz-box-sizing : border-box}

h1, h2, h3, h4, h5, h6 {
position: static;
margin: 0px;
padding: 0px;
}
body, div, p, hr, blockquote, address, table, tr, td, noscript {
position: static;
margin: 0px;
padding: 0px;
border: 0px;
font-style: normal;
font-weight: normal;
line-height: 120%;
}
ul, ol, dl, dt, dd {
position: static;
margin: 0px;
padding: 0px;
}
pre, table, form {
position: static;
margin: 0px;
padding: 0px;
}
span, img  {
position: static;
margin: 0px;
padding: 0px;
border: none;
font-style: normal;
font-weight: normal;
border: 0px none #fafaff;
}
em, strong, q, dfn, code, samp, kbd, var, cite, abbr, acronym {
position: static;
margin: 0px;
padding: 0px;
border: none;
font-style: normal;
font-weight: normal;
}


/* --- main -------------------------------------------------- */
body {
background-color: #E7E7E7;
font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
font-style: normal;
font-weight: normal;
padding: 30px 30px 30px 30px;
}

a {
text-decoration: none;
}
a:link {
color: #b77;
}
a:visited {
color: #b77;
}
a:hover {
color: #777;
}
a:active {
color: #ccc;
}

h3 {
color: #777;
font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
font-size: larger;
font-weight: bold;
padding: 7px 20px 7px 20px;
border-left: 7px;
border-left-style: solid;
/*border-left-color: #C2DBD7;*/
border-left-color: #555;
border-bottom: 2px;
border-bottom-style: dotted;
/*border-bottom-color: #C2DBD7;*/
border-bottom-color: #555;
}

div {
padding-bottom: 10px;
background-color: #fff;
border-right: 1px;
border-right-style: solid;
border-right-color: #888;
border-bottom:1px;
border-bottom-style: solid;
border-bottom-color: #888;
}

/* --- contact ------------------------------------------------ */
div.contact {
margin-bottom: 2ex;
}
div.contact table {
margin-top: 1ex;
margin-left: 5%;
}

/* --- experience ----------------------------------------------- */
div.experience {
margin-bottom: 2ex;
}
div.experience ul {
margin-left: 5%;
margin-right: 5%;
}
div.experience ul li {
margin-top: 2ex;
font-weight: bold;
list-style-type: square;
list-style-position: outside;
}
div.experience ul dt {
font-weight: normal;
}
div.experience ul dd {
font-size: 95%;
font-weight: normal;
margin-bottom: 2ex;
}
div.experience ul dd dl {
margin-left: 3%;
}
div.experience ul dd em {
font-weight: bold;
font-style: italic;
}
div.experience ul dd cite {
font-weight: bold;
font-style: italic;
}

/* --- publications ------------------------------------------------ */
div.publications {
margin-bottom: 2ex;
}
div.publications dl {
margin-left: 5%;
margin-right: 5%;
}
div.publications dt {
margin-top: 2ex;
font-weight: bold;
}

/* --- education ------------------------------------------------ */
div.education {
margin-bottom: 2ex;
}
div.education ul {
margin-left: 5%;
margin-right: 5%;
}
div.education ul li {
margin-top: 2ex;
font-weight: bold;
list-style-type: square;
list-style-position: outside;
}
div.education ul dt {
font-weight: normal;
}
div.education ul dd {
font-size: 95%;
font-weight: normal;
margin-bottom: 2ex;
}

/* --- skills ------------------------------------------------ */
div.skills dl {
margin-left: 5%;
margin-right: 5%;
}
div.skills dt {
margin-top: 2ex;
font-weight: bold;
}
